@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #4B9093;
}

iframe {
    border: 5px solid #ffffff;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
   
}




header {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    max-width: 150px;
    right: 100px;
    top: -40px;
    border-radius: 50%;
    transform: scale(0.5);
    
}


header .navigation {
    position: relative;
    display: flex;
    top: -40px;
}

header .navigation li {
    list-style: none;
    border-radius: 40px;
}

header .navigation li a {
    display: inline-block;
    color: #fff;   
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;  
    transition: 0.2s ease-in-out; 
}
header .navigation li a:hover {
    transform: scale(1.5);
    color: #7FFFD4;
}

section {
    margin-top: 60px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section article {
   position: relative;
   max-width: 600px;
   margin-right: 20px;
}

section article h2 {
    color: #f9f9f9;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

section article p {
    color: #fff;
}

section article a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 300px; /* button */
    padding: 8px 20px;
    background: #e51e2a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}
section article a:hover {
    border: 3px solid #7FFFD4;
    transform: scale(1.1);
}

.links {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    list-style: none;
}

.links li a {
    display: inline-block;
    margin-left: 15px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;

}

.links li a:hover {
    background-color: #7FFFD4;
    transform: translateY(-10px);
}

.links li a img {
    width: 100%;
    transform: scale(0.5);
}